.card-services {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  gap: 4px;
  text-align: center;
  color: var(--heading);
  flex-direction: column;
  background-color: transparent;
  position: relative;
  box-shadow: var(--shadow-card);
  border-radius: .6rem;
  border: 1px solid var(--border);
  order: 2;

  .card-services-details {
    padding: 24px 20px 24px;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    text-align: left;

    .title {
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.8rem;
      letter-spacing: 1px;
      color: var(--heading);
    }
    
  }

  @media (min-width: 1024px) {
    display: none;
  }

}
